# Flutter related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.packages
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/local.properties
**/.idea/
**/*.iml

# Node related
**/node_modules/
**/.env
**/firebase-service-account.json
**/uploads/
**/*.log

# OS related
.DS_Store
Thumbs.db
